@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

::-webkit-scrollbar {
  width: 10px;
}

/* Default Light Mode */
body {
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

.text-box:hover {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  /* Stronger grey shadow */
}

body.dark-mode .text-box:hover {
  box-shadow: 0px 6px 15px rgba(255, 255, 255, 0.3);
  /* Lighter shadow for dark mode */
}

body.dark-mode #theme-toggle {
  background-color: black !important;
  color: white !important;
  border: 1px solid white;
}

@media (max-width: 768px) {
  .graph-block {
    max-width: 80% !important;
    /* Reduce width */
    height: auto !important;
    /* Maintain aspect ratio */
  }
}

.dark-mode {
  background-color: #121212 !important;
  color: #ffffff !important;
}

.dark-mode .navbar {
  background-color: #1e1e1e !important;
}

.dark-mode a {
  color: #00bcd4 !important;
}

.dark-mode button {
  background-color: #333 !important;
  color: #fff !important;
  border: 1px solid #fff !important;
}

/* Hover state in dark mode */
body.dark-mode #theme-toggle:hover {
  background-color: white !important;
  color: black !important;
}

body.dark-mode h1#darkmode {
  color: white !important;
}

body nav .dark-mode h4#darkmode {
  color: white !important;
}

body.dark-mode .carousel-control-prev-icon,
body.dark-mode .carousel-control-next-icon {
  filter: invert(100%);
  /* Invert colors to make them white in dark mode */
}

body.dark-mode .cr-button {
  color: white;
  /* Ensure any button text or styles are white */
}

body.dark-mode h1#darkmode .green {
  color: #43a047;
  /* Preserve the green color */
}

/* Dark Mode */
body.dark-mode #darkmode {
  color: white;
  /* Text color in dark mode */
  /* Background color in dark mode */
}

/* Dark Mode */
body.dark-mode {
  background-color: #131417;
  color: white;
}



body.dark-mode .btn {
  color: black;
  background-color: white;
}

body.dark-mode a {
  color: #ddd !important;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #43a047;
}

::-webkit-scrollbar-thumb:hover {
  background: #3d8e41;
}

body {
  background-color: white;
}

.homePage-landing {
  margin-top: -50px;
  margin-bottom: 100px;
  background-image: url("../assets/background.png");
  background-size: cover;
  background-position: center center;
  padding-top: 150px;
  padding-bottom: 250px;
  color: black;
  text-align: center;
  padding-right: 200px;
  padding-left: 200px;
  border-bottom: 5px solid white;
}

.homePage-landing h1 {
  font-weight: 600;
  font-size: 55px;
}

.homePage-landing p {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 20px;
}

.homePage-landing h1 span {
  color: #43a047;
}

.homePage-landing-buttons {
  width: 600px;
  margin: 0 auto;
}

.homePage-landing-buttons-button-1 button,
.homePage-landing-buttons-button-2 button {
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: black;
  font-size: 19px;
  transition: all 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.homePage-landing-buttons-button-1 button,
.homePage-landing-buttons-button-2 button {
  background-color: transparent;
  border: 2px solid #43a047;
  border-radius: 100px;
}

.homePage-landing-buttons-button-2 button:hover,
.homePage-landing-buttons-button-1 button:hover {
  border-radius: 100px;
  border: 2px solid #43a047;
  background-color: #43a047;
}

.h omePage-landing-buttons-button-2 button {
  margin-left: 50px;
}

@media screen and (max-width: 1024px) {
  .homePage-landing {
    padding-right: 100px;
    padding-left: 100px;
  }
}

@media screen and (max-width: 820px) {
  .homePage-landing h1 {
    font-size: 35px;
  }

  .homePage-landing p {
    font-size: 16px;
  }

  .homePage-landing-buttons {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 596px) {
  .homePage-landing {
    padding-right: 10px;
    padding-left: 10px;
  }



  .homePage-landing-buttons-button-1 button,
  .homePage-landing-buttons-button-2 button {
    font-size: 14px;
  }
}

/* Default Light Mode */
.homePage-testimonials {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: black;
  /* Default text color */
  margin-top: -50px;
  ;
  padding-bottom: 50px;
  padding-right: 150px;
  padding-left: 150px;
}

.testimonials {
  margin-bottom: 50px;
}

.card {
  background-color: white;
  /* Default white background for the cards */
  color: black;
  /* Default black text color */
  border: 1px solid #ccc;
  /* Optional border */
  margin-bottom: 20px;
}

/* Dark Mode */
body.dark-mode .homePage-testimonials {
  color: white;
  /* White text in dark mode */
}

body.dark-mode .heading {
  color: white;
  /* White text in dark mode */
}

body.dark-mode .testimonials {
  margin-top: 10px;
  margin-bottom: 50px;
}

.heading {
  font-weight: bold !important;
}

body.dark-mode .card {
  background-color: black;
  /* Black background for the cards */
  color: white;
  /* White text inside the cards */
  border: 1px solid #444;
  /* Darker border for contrast */
}

body.dark-mode .card-title,
body.dark-mode .card-subtitle,
body.dark-mode .card-text {
  color: white;
  /* Ensure text inside card is white */
}

body.dark-mode .card .text-muted {
  color: #ffffffa4 !important;
  /* Optional: muted text color */
}

.homePage-testimonials h1 {
  font-weight: 600;
}

@media screen and (max-width: 1200px) {
  .homePage-testimonials {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 370px) {
  .homePage-testimonials {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.homePage-testimonials .see-more {
  color: #43a047;
  text-decoration: none;
}

.homePage-testimonials .see-more:hover {
  color: #3a8a3e;
  text-decoration: none;
}

.see-more i {
  font-size: 12px;
}




.graph-block {
  padding-top: 20px;
}

.number-Card {
  border: 1px solid #ddd;
  padding-top: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  box-shadow: 1px 0px 4px 0px rgba(255, 255, 255, 0.43);

}

body.dark-mode .number-Card {
  background-color: black;
  /* Dark mode background for cards */
  color: white;
  /* Dark mode text color */
}

.graph-block {
  margin-top: 10px;
}

.homePage-contact-box {
  color: black;
  background-color: #3d8e41;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 24px;
  margin-bottom: 50px;
}

.homePage-contact-box .form-field {
  background-color: rgba(40, 55, 41, 0.56);
  width: 400px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 100px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.homePage-contact-box .form-field input {
  outline: transparent;
  margin-left: 50px;
  background-color: transparent;
  border: 0px solid;
  height: 38px;
  color: black;
}

.homePage-contact-box .form-field button {
  background-color: #fff;
  border-radius: 100px;
  border: 0px solid;
  color: #3c9640;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  padding-left: 15px;
  padding-right: 15px;
}

.homePage-contact-box .form-field button:hover {
  background-color: #ffffffc7;
}

.homePage-contact-box .form-field input::placeholder {
  color: rgba(255, 255, 255, 0.61);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}

@media screen and (max-width: 510px) {
  .homePage-contact-box {
    padding-left: 10px;
    padding-right: 10px;
  }

  .homePage-contact-box .form-field {
    width: 300px;
  }

  .homePage-contact-box .form-field input {
    outline: transparent;
    margin-left: 10px;
    width: 200px;
  }
}







.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  transform-origin: bottom;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  transform-origin: top;
}

.homePage-socials {
  text-align: center;
  color: black;
  margin-top: 100px;
  margin-bottom: 100px;
}

.homePage-socials h1 {
  font-size: 45px;
  text-transform: uppercase;
}

.homePage-socials h1 span {
  color: #3a8a3e;
}

.homePage-socials a {
  color: black;
  font-size: 30px;
  transition: 0.2s ease-in-out all;
  margin-left: 50px;
  margin-top: 50px;
}

.homePage-socials a:nth-child(1) {
  margin-left: 0px;
}

.homePage-socials a:hover {
  color: #3a8a3e;
}

.homePage-testimonials h1 span,
.homePage-numbers h1 span {
  color: #43a047;
}

.homePage-numbers {
  font-family: "Poppins", sans-serif;
  padding: 30px 15px;
  text-align: center;
  color: black;
  padding-right: 150px;
  padding-left: 150px;
}

#reachLineChart,
#lineChart {
  height: 200px;
  /* Set a larger height */
  width: 100%;
  /* Keep the width flexible */
}

.head {
  font-weight: bolder;
}

.graph-block {
  width: 230px;
  height: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: -35px;
}

.green {
  color: #43a047;
}

.c-item {
  height: 800px;
}

.c-img {
  width: 100%;
  height: auto;
}

.events h1 span {
  color: #43a047;
}

.events h1 {
  font-weight: bold;
}

.icons {
  height: 10px;
  width: 10px;
}

.url {
  text-decoration: underline;
  color: #43a047;
  font-weight: bold;
}

.carousel-container {
  width: 80%;
  margin: 0 auto;
  /* Center the carousel */
  margin-bottom: 20px;
}

.cr-button {
  color: black;
}

.homePage-landing {
  width: 100%;
  /* Set the width of the div */
  height: 550px;
  /* Set a specific height */
  margin-bottom: 20px;
  /* Set the height of the div */
  background-image: url("/homepage/bg.jpg");
  background-color: rgba(255,
      255,
      255,
      0.25);
  /* White color overlay with 50% opacity */
  background-blend-mode: lighten;
  /* Update this with your image path */
  background-size: cover;
  /* Cover the entire div */
  background-position: center;
  /* Center the background image */
  background-repeat: no-repeat;
}

body.dark-mode .homePage-landing::after {
  content: "";
  /* Required to create the pseudo-element */
  position: absolute;
  /* Position it over the background image */


  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.315);
  /* Black overlay with 50% opacity */
  pointer-events: none;
  /* Allow interaction with elements below */
  z-index: 1;
  /* Ensure the overlay is above the background image */
}

.carousel-container {
  margin-bottom: 20px !important;
  /* Adjust this value as needed */
}