.team-grid {
    margin-bottom: 100px;
}

.title {
    font-size: 24px;
    text-align: center;
    margin: 20px 0;
}

.subtitle {
    font-size: 32px;
    text-align: center;
    margin: 10px 0;
}

.subtitle span {
    color: #FF5733;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 0;
}

.c-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    width: 250px;
    text-align: center;
}

.c-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.c-container {
    padding: 16px;
}

.c-container h4 {
    margin: 10px 0;
}

.c-container p {
    margin: 5px 0;
}



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.navbar{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
}
.navbar-logo{
    width: 60px;
    height: 50px;
}

.nav-link button:hover{
    background-color: #224824;
}
@media screen and (max-width: 1400px){
    .navbar{
        padding-left: 30px;
        padding-right: 30px;
    }
   
}
.navbar-toggler{
    color: white;
}
@media screen and (max-width: 490px){
    .navbar{
        padding-left: 10px;
        padding-right: 10px;
    }
    .navbar-brand img{
        width: 250px;
    }
}
@media screen and (max-width: 370px){
    .navbar{
        padding-left: 10px;
        padding-right: 10px;
    }
    .navbar-brand img{
        width: 200px;
    }
}