@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #43a047;
}

::-webkit-scrollbar-thumb:hover {
  background: #3d8e41;
}
body {
  margin: 0 !important;
  height: 100vh !important;
  background-color: white !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.logo {
  font-size: 1.5rem !important;
  font-weight: bold !important;
}
.title {
  font-size: 1.5em !important;
  margin-left: 5rem !important;
  margin-top: 5rem;
}

.subtitle {
  font-size: 2em !important;
  margin-left: 5rem !important;
}

.subtitle span {
  color: #43a047 !important;
}

.grid-container {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) !important;
  gap: 8rem !important;
  width: 80% !important;
  max-width: 1200px !important;
  margin-top: 5rem !important;
}

.fc {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-left: 2rem;
}

.fc .card {
  margin: 0 auto;
}

.card {
  position: relative !important;
  width: 18rem !important;
  height: 21rem !important;
  background: rgba(0, 0, 0, 0.521) !important;
  box-shadow: 5px 5px 5px 5px rgb(174, 175, 172) !important;
  border-radius: 10% 50% 10% 50% / 50% 10% 50% 10% !important;
  transition: transform 0.5s, box-shadow 0.5s !important;
}

.card:hover {
  box-shadow: none !important; /* Remove original box shadow on hover */
}

.card:before,
.card:after {
  content: "" !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background: #43a047 !important;
  box-shadow: none;
  border-radius: 10% 50% 10% 50% / 50% 10% 50% 10% !important;
  transition: 1s !important;
  z-index: -1 !important;
}

.card:hover:before {
  transform: rotate(20deg) !important;
  box-shadow: 2px 20px #2f8c4524 !important; /* Adjusted shadow for :before */
  border-radius: 10% 50% 10% 50% / 50% 10% 50% 10% !important;
}

.card:hover:after {
  transform: rotate(10deg) !important;
  box-shadow: 1px 10px #2f8c4524 !important; /* Adjusted shadow for :after */
  border-radius: 10% 50% 10% 50% / 50% 10% 50% 10% !important;
}
.card p {
  color: white;
}

.imgbox {
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
  padding-bottom: 20px;
  display: flex !important;
  border-radius: 10% 50% 10% 50% / 50% 10% 50% 10% !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  transition: 0.5s !important;
}

.imgbox img {
  max-width: 15rem !important;
  max-height: 15rem !important;
  transition: transform 0.5s !important;
  border-radius: 10% 50% 10% 50% / 50% 10% 50% 10% !important;
}

.details {
  position: absolute !important;
  bottom: 0 !important;
  background: rgba(255, 255, 255, 0.007) !important;
  width: 50% !important;
  text-align: center !important;
  padding: 0 !important;
  transform: translateY(100%) !important;
  transition: opacity 0.3s, transform 0.5s !important;
  opacity: 0 !important;
}

.card:hover .imgbox img {
  transform: scale(0.8) !important;
}

.card:hover .details {
  transform: translateY(0) !important;
  opacity: 1 !important;
}

@media (max-width: 768px) {
  .nav-links {
    display: none !important;
    flex-direction: column !important;
    background: white !important;
    position: fixed !important;
    right: 0 !important;
    width: 100%;
    top: 0 !important;
    height: 200px !important;
    width: 100% !important;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5) !important;
    padding-top: 5rem !important;
  }

  .nav-links.active {
    display: flex !important;
  }

  .menu-icon {
    display: block !important;
  }

  .title {
    font-size: 1.5em !important;
    margin-left: 5rem !important;
    margin-top: 5rem;
  }
  
  .subtitle {
    font-size: 2em !important;
    margin-left: 5rem !important;
  }

  .fc{
    display: flex;
    align-items: center;
  }
  
  .card {
    margin: 0 auto;
    position: relative !important;
    width: 19rem !important;
    height: 20rem !important;
    background: rgba(0, 0, 0, 0.521) !important;
    box-shadow: 5px 5px 5px 5px rgb(174, 175, 172) !important;
    border-radius: 10% 50% 10% 50% / 50% 10% 50% 10% !important;
    transition: transform 0.5s !important;
  }

  .card:hover {
    box-shadow: none !important; 
  }

  .card:before,
  .card:after {
    content: "" !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background: #43a047 !important;
    box-shadow: none;
    border-radius: 10% 50% 10% 50% / 50% 10% 50% 10% !important;
    transition: 1s !important;
    z-index: -1 !important;
  }

  .card:hover:before {
    transform: rotate(20deg) !important;
    box-shadow: 2px 20px #2f8c4524 !important;
    border-radius: 10% 50% 10% 50% / 50% 10% 50% 10% !important;
  }

  .card:hover:after {
    transform: rotate(10deg) !important;
    box-shadow: 1px 10px #2f8c4524 !important;
    border-radius: 10% 50% 10% 50% / 50% 10% 50% 10% !important;
  }

  .imgbox {
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    padding-top: 20px;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 10% 50% 10% 50% / 50% 10% 50% 10% !important;
    transition: 0.5s !important;
  }

  .imgbox img {
    max-width: 60% !important;
    max-height: auto !important;
    transition: transform 0.5s !important;
    border-radius: 10% 50% 10% 50% / 50% 10% 50% 10% !important;
  }

  .details {
    position: absolute !important;
    bottom: 0 !important;
    background: rgba(255, 255, 255, 0.007) !important;
    width: 50% !important;
    text-align: center !important;
    padding-top: 10px; !important;
    transform: translateY(100%) !important;
    transition: opacity 0.3s, transform 0.5s !important;
    opacity: 0 !important;
  }

  .card:hover .imgbox img {
    transform: scale(0.8) !important;
  }

  .card:hover .details {
    transform: translateY(0) !important;
    opacity: 1 !important;
  }
  footer {
    background-color: rgba(128, 128, 128, 0.15);
    width: 100%;
    margin-top: 5rem;
  }
}
.icons {
  height: 10px;
  width: 10px;
}
.url {
  text-decoration: underline;
  color: #43a047;
  font-weight: bold;
}
footer {
  background-color: rgba(128, 128, 128, 0.15);
  width: 100%;
  margin-top: 5rem;
  padding: 10px;
}
.navbar {
  width: 100%;
  height: 200px;
}
