/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #43a047;
}

::-webkit-scrollbar-thumb:hover {
  background: #3d8e41;
}
h1 {
    font-weight: 600;
    font-size: 40px;
  }
  .green {
    color: #43a047;
  }
  .center {
    text-align: center;
    margin-top: 20px;
  }
  .homePage-landing h1 span {
    color: #43a047;
  }
  
  iframe {
    width: 100%;
    height: 100vh;
    border: none;
    overflow: hidden;
  }
  
  .icons {
  height: 10px;
  width: 10px;
}
.url {
  text-decoration: underline;
  color: #43a047;
  font-weight: bold;
}

.text-end {
  text-align: right;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px;
}

.image-grid a img {
  width: 80%;
  height: auto;
  display: block;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.5s;
}

.image-grid a img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
} */

/* ----------------------------------------------------------------------------- */

/* General styles for dark and light modes */
body.light {
  background-color: #ffffff;
  color: #212529;
}

body.dark {
  background-color: #131418;
  color: white;
}


/* Toggle button styling */
.theme-toggle-btn {
  background-color: #3d8e41;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.theme-toggle-btn:hover {
  opacity: 0.9;
}



.image-grid img{
  padding-right: 30px;
  
}


nav {
  transition: background-color 0.3s, color 0.3s;
}

.footer-row {
  transition: color 0.3s;
}


body.dark-mode .navbar {
  background-color: #191919 !important; 
  color: white !important;
}

body.dark-mode .navbar .nav-link {
  color: white !important;
}
